* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.first-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;

}

.introduction {
    padding-left: 240px;
}

.main-title {
    display: flex;
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding-top: 197px;
}

.description {
    padding-top: 32px;
    padding-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    gap: 10px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}

.intro-flower {
    padding-right: 240px;
    padding-top: 50px;
}

.second-container {
    height: 115vh;
}

.featured-title {
    margin-bottom: 48px;
    text-align: center;
}

.f-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 178px;
}

.f-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.featured-item {
    display: flex;
    padding-left: 240px;
    padding-right: 240px;
    justify-content: space-between;
}

.first-item {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
#first-item{
padding: 110px 78px 67px 76px;

}

.second-item {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
#second-item{
    padding: 117px 47px 118px 47px;
}
.third-item {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
#third-item{
    padding: 67px 75px 67px 75px ;
}
.figcap{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;    
}